<div class="container mt-4">
  <div class="row g-2">
    <div class="col-3">
        <div class="p-4 border bg-pokemon shadow-sm rounded-3">
          <p class="h3 text-ligth">Nombre del pokemón</p>
            <div class="d-flex flex-row">
              <p class="des fw-light me-2 text-ligth">Tipo fuego, etc</p>
              <p class="des fw-light me-2 text-ligth">Tipo fuego, etc</p>
            </div>
          <img src="assets/Bulbasaur.png" class="img-fluid mx-auto d-block my-4" alt="">
          <div class="bg-pokemon-secundary p-3 w-auto rounded-3">
            <p class="h6">Información</p>
            <p class="des fw-light me-2 text-dark text-muted">Tipo: <span class="text-dark">Tipo</span></p>
            <p class="des fw-light me-2 text-dark text-muted">Peso: <span class="text-dark">Peso</span></p>
            <p class="des fw-light me-2 text-dark text-muted">Habilidades: <span class="text-dark">Habilidades</span></p>
          </div>
        </div>
    </div>
  </div>
</div>

